// 全局样式
.content-main {
  width: 1300px;
  margin: auto;
  font-size: 20px;
}

body,
html {
  color: #333;
  font-size: 20px;
  margin: 0;
  el-header {
    margin: auto;
  }
}
.colorbai {
  background-color: #fff;
}
.title {
  font-size: 18px;
  text-align: center;
  line-height: 50px;
}
